/* Change styles on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
@media screen and (max-width: 1020px) {
    .logotext2, .logotext3{
        display: none;
    }


}

@media screen and (max-width: 500px) {
    input[type="number"], input[type="text"]{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .logotext2, .logotext3{
        display: none;
    }
    .topdiv{
        display: flex;
        flex-direction: column;
    }

}